:root{
    --mrgn : 20px #untuk assign
}
body{
    background: url('images/bungaa.png');
    background-size: cover;
    text-align: center;
    position: relative;
}
.landing{
    display: flex;
    flex-direction: column;
    color: #ffffff;
}
.hello{
    font-family:fantasy;
    font-size: 40px;
    color: rgb(165, 29, 29) ;
    margin-top:180px;
}
.iam{
    font-family: initial;
    font-size: 15px;
    color: white;
    margin-top: 15px;
}
.name{
    font-family: initial;
    font-size: 50px;
    color: white;
    margin-top: 15px;
}
.landing2{
    color: #ffffff;
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 50px;
    color:palevioletred;
    margin-top: 220px;
}

@media only screen and (max-width : 600px)
.keterangan{
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    color:palevioletred;
    text-align: left;
}
img {
    margin-left: 30px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.hello{
    font-family:fantasy;
    font-size: 20px;
    color: rgb(165, 29, 29) ;
    margin-top:100px;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 20px;
    color:palevioletred;
    margin-top: 220px;
}